<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hiking.afei.opensourcedemos">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".toasty.ToastyActivity">
        </activity>
        <activity
            android:name=".webview.ShowActivity"
            android:launchMode="singleInstance">
        </activity>
        <activity
            android:name=".guide.GuideActivity"
            android:label="@string/title_activity_guide"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".guide.main.GuideMainActivity">
        </activity>
        <activity android:name=".guide.splash.SplashActivity">
        </activity>
        <activity android:name=".guide.viewpager.ViewPagerActivity">
        </activity>
        <activity android:name=".guide.viewflipper.ViewFlipperActivity">
        </activity>
        <activity android:name=".guide.scrollview.ScrollViewActivity">
        </activity>
        <activity android:name=".guide.carousel.CarouselActivity">
        </activity>
    </application>

</manifest>